:root {
  --brand-color: #2196f3;
  --brand-font-size: "Roboto";
}
.body {
  font-family: var(--brand-font-size), "sans-serif";
  color: #757575;
  font-size: 14px;
  font-weight: 400;
}
a:hover,
a:focus {
  color: var(--brand-color);
}
a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  padding-bottom: 95px 0;
}

.container-paragraph {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0px auto;
  padding: 95px 0px;
}

.title-web-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-align: right;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container-header {
  border-bottom: 1px solid #ececec;
}
.header {
  text-align: center;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 80px;
}
/* pagina estudio */
.button-solutions {
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--brand-color);
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 32px;
}
.button-solutions:hover {
  background-color: var(--brand-color);
}
.button-solutions focus {
  background-color: var(--brand-color);
}

.menu {
  display: flex;
}
.link-menu-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 14px;
  font-weight: 500px;
}
.link-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.link-menu-studio-head {
  font-family: var(--brand-font-size), "sans-serif";
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  color: #757575;
}
.link-menu-studio-head:hover,
.link-menu-studio-head:active {
  fill: var(--brand-color);
  color: var(--brand-color);
}
.link-menu-studio-head-svg {
  color: currentColor;
}

.link-menu-studio {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  margin: 10px;
}

.link-menu-studio:hover,
.link-menu-studio:focus,
.link-menu-studio:active {
  color: var(--brand-color);
}
.title-solutions {
  margin: 25px;
  width: 700px;
}

.box-solutions {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 600px;
  background-image: linear-gradient(to bottom, #2f303a66, #2f303a66),
    url(../images/Images17.jpg);

  gap: 50px;
}
.container-paragraph {
  list-style: none;
  margin: 0 auto;
  display: flex;
  padding: 95px 0px;
}
.paragraph {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  flex-basis: calc((100% - 90px) / 4);
}
.paragrah-label {
  display: flex;
  gap: 30px;
}
.paragraph-svg:hover {
  fill: var(--brand-color);
}

.what-are-we-dedicated {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  justify-content: center;
  align-items: center;
  padding-bottom: 94px;
}
.what-are-we-dedicated-images {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
}
.title-h2 {
  font-size: 36px;
}
.our-team {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  padding: 94px 0px;
}
.our-team-p {
  font-weight: 400;
  padding-bottom: 30px;
  padding-right: 44px;
  padding-left: 44px;
}

.our-team-image {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.14) 0px 1px 1px,
    rgba(0, 0, 0, 0.2) 0px 2px 1px;
  left: 208px;
  top: 1696px;
  display: inline-block;
  padding-bottom: 30px;
  background: rgb(255, 255, 255);
  border-radius: 0px 0px 4px 4px;
}
.svg-our-team {
  fill: rgb(175, 177, 184);
}
.svg-our-team:hover,
.svg-our-team:focus,
.svg-our-team:active {
  fill: var(--brand-color);
}
.Regular-customers {
  display: block;
}
.container-Regular-customers {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgb(33, 33, 33);
  justify-content: center;
  align-items: center;
  height: 372px;
  padding: 59px 215px 151px;
}
.Regular-customers-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  stroke: rgb(175, 177, 184);
}

.Regular-customers-icons:hover,
.Regular-customers-icons:focus,
.Regular-customers-icons:active {
  fill: var(--brand-color);
}
.address {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.contact-information {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer {
  background: #2f303a;
  padding-left: 215px;
}
.footer-picture {
  align-items: center;
  height: 294px;
  width: 370px;
  display: table;
  fill: url(../images/images1.jpg);
  position: relative;
  margin: 0px;
  padding: 0px;
  border-width: 1px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}
.footer-picture p {
  font-family: var(--brand-font-size), "sans-serif";
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: normal;
  display: table-caption;
  text-align: center;
  width: 370px;
  height: 70px;
  justify-content: center;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: rgba(47, 48, 58, 0.8);
  margin: 0px;
  padding: 27px 79px;
}

/* pagina portafolio */
.button-my-potfolio {
  justify-content: center;
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
  padding-top: 106px;
}

.button-portfolio {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: #f5f4fa;
  cursor: pointer;
  border: none;
  padding: 6px 24px;
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: #2196f3;
  color: white;
}
.button-portfolio.current {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: #f5f4fa;
  cursor: pointer;
}

.button-portfolio.current:hover,
.button-portfolio.current:focus {
  background-color: var(--brand-color);
  color: white;
}

.button-portfolio.current {
  background-color: var(--brand-color);
  color: white;
}

.link-menu,
.link-menu:visited {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #212121;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-weight: 500;
  font-size: 14px;
}
.link-menu:hover,
.link-menu:focus {
  color: var(--brand-color);
}

.link-menu.current {
  color: var(--brand-color);
}

.container-portfolio {
  cursor: pointer;
  column-gap: 20px;
  list-style: none;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  padding-bottom: 82px;
}
.portfolio-elements {
  box-sizing: border-box;
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  display: inline-block;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  justify-content: center;
  cursor: pointer;
}
.portfolio-elements:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-elements-paragrah {
  padding: 20px 24px;
}
.img-portfolio {
  display: block;
  max-width: 100%;
  height: auto;
}
.container-footer {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  padding: 60px 0;
}
.found-at:hover {
  fill: var(--brand-color);
}

.container-found-at {
  fill: rgb(175, 177, 184);
  list-style: none;
  margin: 0 auto;
  display: flex;
  padding: 95px 0px;
}

.found-at {
  display: block;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.found-at-icon:active,
.found-at-icon:hover {
  fill: var(--brand-color);
}
.found-at-icon {
  fill: rgb(175, 177, 184);
}

h1 {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
}

h3 {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  padding-top: 30px;
}
h2 {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
p {
  font-family: var(--brand-font-size), "sans-serif";
  font-style: normal;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;
}
